{% extends 'myapp/base.html' %}
{% load socialaccount %}
{% load static %}
{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="pl-container">
	<h1>Profile</h1>
	<div class="pl-wrapper">
		<div class="app-container">
			<div class="user-data">
				<p><strong>Name:</strong> {{request.user.name}}</p>
			</div>
			<div class="user-data">
				<p><strong>Email:</strong> {{ request.user.email }}</p>
			</div>
			<div class="user-data">
				<p><strong>Facebook Page:</strong> {% if request.user.facebook_page %}{{request.user.facebook_page}}{% else %}<span style="color:red ">Not Available</span>{% endif %}</p>
			</div>
			<div class="user-data">
				<p><strong>Twitter Username:</strong> {% if request.user.twitter_username %}{{request.user.twitter_username}}{% else %}<span style="color:red !important;">Not Available</span>{% endif %}</p>
			</div>
			<div class="update-profile">
				<a href="#" target="_blank">Update Profile</a>
			</div>
		</div>
		<div class="social-container">
			<h2>Connect Social Media Accounts</h2>
			<div class="social-login">
				<p>Connect to <a href='{% provider_login_url "facebook" process="connect" %}' target="_blank"><img src="{% static 'image/facebook.png' %}" alt="facebook"></a></p>
			</div>
			<div class="social-login">
				<p>Connect to <a href='{% provider_login_url "twitter" process="connect" %}' target="_blank"><img src="{% static 'image/twitter.png' %}" alt="twitter"></a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}