{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% block head %}
	{% endblock %}
</head>
<body>
	<nav class="nav">
		<a href="#" class="logo">SocialProject</a>
		<ul class="nav-list">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="{% url 'profile' %}">Profile</a>
			</li>
			<li>
				<a href="{% url 'social' %}">Publish</a>
			</li>
			<li>
				<a href="{% url 'logout-c' %}">Logout</a>
			</li>
		</ul>
		<div class="hamburger">
			<div class="ham"></div>
			<div class="ham"></div>
			<div class="ham"></div>
		</div>
	</nav>
	<main class="main">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="footer">
		<p>A website by <a href="#">Dhiman Chakma</a></p>
	</footer>
	{% block js %}
	{% endblock %}
	<script>
		const hamburger = document.querySelector(".hamburger")
		const navList = document.querySelector(".nav-list")
		hamburger.addEventListener("click", ()=>{
			navList.classList.toggle("active");
		})
	</script>
</body>
</html>